

<h2>Bu Blog Nedir?</h2>

<img class="imgs" src="/assets/img/avatar.jpg" alt="Avatar" style="width:100px">

<p>Bu internet adını verdiğimiz soyut ve ilginç yer, önemsiz kişilerin rasgele zırvaları postaladığı ve bunun sonucunda da tamamen sıradan ve tesadüfî başka kişilerin de alâkasız yorumlarını gönderdiği, sürekli kendini tekrar eden boş bloglarla dolu.
Sapkın bir sistem, insan ilişkilerinin durumunu günden güne kötüleştiriyor ve yıkıyor; ve zamanınızı harcatıp sizi çok daha verimsiz hale getiriyor.
Bu blogun da farklı olmadığını aklınızdan çıkarmayın. Kayıp otobanın bu unutulmuş durağında, vaktinizi harcar ve hayatınızın kenarından gelip geçecek olan bu yabancının yazdığı saçmalıkları okurken eğlencenize bakın.</p>
