<aside class="guestbook aside section">
    <div class="section-inner">
        <div class="content">
            <div class="item">
                <div class="box1">
                    <img class="guestbook-logo" src="assets/images/logo/talkingballoon.png" />
                </div>
                <div class="box2">
                    <p>Hey, would you like to leave a nice message in the guestbook for others?
                        So feel free to use your imagination! :)</p>
                    <div class="button-links">
                        <a href="https://emresarac.com.tr/guestbook/" alt="Guestbook" target="_blank"></i> See The
                            Guestbook !</a>
                    </div>
                </div>
            </div>
            <!--//item-->
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->