<aside class="guestbook aside section">
    <div class="section-inner">
        <div class="content" style="text-align: center;">
            <div class="item">
                <img style="width: 40%;"
                    src="assets/images/logo/guestbook.png" />
                    <p>Hey, would you like to leave a nice message in the guestbook for others?
                        So feel free to use your imagination! :)</p>
                <div class="button-links">
                    <a href="https://emresarac.com.tr/guestbook/" alt="Guestbook" target="_blank"></i> See The Guestbook !</a>
                </div>
            </div>
            <!--//item-->
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->