<aside class="testimonials aside section">
    <div class="section-inner">
        <div class="content">
            <div class="item">
                <blockquote class="quote">
                    <p><i class="fa fa-quote-left"></i>If you plan on being anything less than you are capable of being, 
                        you will probably be unhappy all the days of your life.
                    </p>
                </blockquote>
                <p class="source"><span class="name">Abraham Maslow</span><br />
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->
