<aside class="list music aside section">
    <div class="section-inner" style="padding: 3px;">
        <!-- <h2 class="heading">Spotify</h2> -->
        <div class="content" style="margin-bottom: unset;">
            <iframe style="border-radius:15px"
                src="https://open.spotify.com/embed/playlist/5s4c8kfUBjZeU82RM5FnDL?utm_source=generator&theme=0"
                width="100%" height="400" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</aside>
<!--//section-->