<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer__inner">

        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="subscribe">

                        <aside class="guestbook aside section">
                            <div class="section-inner">
                                <div class="content">
                                    <div class="item">
                                        <div class="box2">
                                            <p>Hey, would you like to leave a nice message in the guestbook for others?
                                                <br>So feel free to use your imagination! :)
                                            </p>
                                            <div class="button-links">
                                                <a href="https://emresarac.com.tr/guestbook/" alt="Guestbook"
                                                    target="_blank"></i> See The
                                                    Guestbook !</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--//item-->
                                </div>
                                <!--//content-->
                            </div>
                            <!--//section-inner-->
                        </aside>
                        <!--//section-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__info">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="copyright">2022 © <a href="/">Emre</a>. Crafted &amp; Designed by <a href="/">Emre</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--//container-->
</footer>
<!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>

<!-- custom js -->
<script type="text/javascript" src="assets/js/main.js"></script>