<head>
    <title>Emre Saraç | Business Card 🪐</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes">    

    <!-- Description & SEO -->
    <meta name="description" content="Emre Saraç — Software Engineer creating intergalactic apps with Flutter, Kotlin, and Swift. A cyberpunk-inspired developer business card.">
    <meta name="author" content="Emre Saraç">
    <meta name="keywords" content="Emre Sarac, Saraç, Software Engineer, Flutter, Kotlin, Swift, Developer Business Card, Cyberpunk Portfolio, Mobile Developer, Digital ID Card">
    
    <!-- 🌐 Open Graph (Facebook, Discord, LinkedIn, WhatsApp) -->
     <meta property="og:type" content="website" />
     <meta property="og:title" content="Emre Saraç | Business Card" />
     <meta property="og:description" content="My personal digital ID card in a fun style." />
     <meta property="og:image" content="https://srcemre.github.io/assets/images/avatar/avatar.png" />
     <meta property="og:url" content="https://srcemre.github.io/" />
     <meta property="og:site_name" content="Emre Saraç - Business Card" />
     <meta property="og:locale" content="en_US" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/web-favicon.png">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/brands.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/solid.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=VT323&display=swap" rel="stylesheet">
</head>