<header class="header" id="header">

  {%- include sectionMarquee.html -%}

  <div class="container">
    <div class="vertical-center">

      <div class="landing">
        <div class="content-left">
          <div class="profile">
            <img class="profile-img" alt="Profil Resmi" src="{{ site.baseurl }}/assets/images/logo/game-character.png" />
            <div class="profile-info">
              <div class="profile-name">Hey, I’m Emre Saraç</div>
              <div class="profile-job">Software Engineer</div>
            </div>
          </div>

          <div class="content">
            <h2 class="title">
              <span class="bold-part">042: DON'T PANIC!</span>
              <br>
              <span class="italic-part">(Page Found)</span>
            </h2>
            <h5 class="desc">
              Welcome to my blog! Here, you'll find funny, serious, and sometimes completely ridiculous articles about technology, software, and travel. Sit back, relax, and enjoy!
            </h5>
          </div>

          <ul class="social list-inline">
            <li><a href="https://github.com/srcemre" target="_blank"><i class="fa fa-github-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/saracemre/" target="_blank"><i
                  class="fa fa-linkedin-square"></i></a>
            </li>
            <li><a href="https://www.instagram.com/saracemre_/"><i class="fa fa-instagram" target="_blank"></i></a></li>
            <li><a href="mailto: e.sarac@outlook.com"><i class="fa fa-envelope"></i></a></li>
          </ul>

          <div class="headerresume-links">
            <a href="#blog" data-scroll>BLOG</a>
            <a href="#aboutme" data-scroll>EXPERIENCES</a>
            <a href="#project" data-scroll>PROJECTS</a>
          </div>

          <div class="mouse-container">
            <div class="mouse"></div>
            <div class="mouseText">Discover My Story, Scroll !<br><i class="fa fa-chevron-down"></i></div>
          </div>

        </div>

        <!-- <div class="content-right">
          <img src="{{ site.baseurl }}/assets\images\logo\header1-removebg-preview.png" alt="Landing Image" />
        </div> -->

      </div>
    </div>
  </div>
</header>

<!-- //header -->