<header class="header" id="header">

  {%- include sectionMarquee.html -%}

  <div class="container">
    <div class="vertical-center">

      <!--<img class="profile-image " src="assets/images/logo/logo.png" alt="James Lee" />-->
      <div class="profile-image-container">
        <img class="profile-image" src="{{ site.baseurl }}/assets/images/logo/cute-player.png" />
        <img class="test2" src="{{ site.baseurl }}/assets/images/logo/header-avaliable-for-freelance.png" />
      </div>
      <h2 class="name">I'M EMRE SARAC</h2>
      <h5 class="desc">I'm a software developer </h5>
      <h5 class="desc2">"A programmer is never late, nor is he early, <br>he arrives precisely when he means to."
        <br>-Gandalf
      </h5>

      <ul class="social list-inline">
        <li><a href="https://github.com/srcemre" target="_blank"><i class="fa fa-github-square"></i></a></li>
        <li><a href="https://www.linkedin.com/in/saracemre/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </li>
        <li><a href="https://www.instagram.com/saracemre_/"><i class="fa fa-instagram" target="_blank"></i></a></li>
        <li><a href="mailto: e.sarac@outlook.com"><i class="fa fa-envelope"></i></a></li>
      </ul>

      <div class="headerresume-links">
        <a href="#blog" data-scroll>BLOG</a>
        <a href="#aboutme" data-scroll>EXPERIENCES</a>
        <a href="#project" data-scroll>PROJECTS</a>
      </div>

      <div class="mouse"></div>
      <div class="mouseText">Discover My Story, Scroll !<br><i class="fa fa-chevron-down"></i></div>

    </div>
  </div>
</header>

<!-- //header -->