<section class="marquee-banner">
    <div class="marquee-blog w-inline-block">
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"><i class="fa fa-smile-o" aria-hidden="true"></i></div>        </div>
    </div>
</section>