<section class="marquee-banner">
    <div class="marquee-blog w-inline-block">
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
        <div class="marquee-content-big">
            <div class="marquee-text-item">Blog</div>
            <div class="marquee-img-item"></div>
        </div>
    </div>
</section>