<section class="experience section" id="experiences">
    <div class="section-inner">
        <h2 class="heading">Experience</h2>
        <div class="timeline">
            <!-- item -->
            <div class="element">
                <div class="logo">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <div class="contents">
                    <div class="time">
                        Sept. 2020 - Present
                    </div>
                    <div class="title">
                        Mobile Software Developer
                    </div>
                    <div class="name">
                        Basarsoft Information Technologies Inc.
                    </div>
                    <div class="disc">
                    </div>
                </div>
            </div>
            <!-- //item -->
            <!-- item -->
            <div class="element">
                <div class="logo">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
                <div class="contents">
                    <div class="time">
                        July 2020 (1 month)
                    </div>
                    <div class="title">
                        Internship
                    </div>
                    <div class="name">
                        BITES - Defence & Aerospace Technologies
                    </div>
                    <div class="disc">
                    </div>
                </div>
            </div>
            <!-- //item -->
            <!-- item -->
            <div class="element">
                <div class="logo">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
                <div class="contents">
                    <div class="time">
                        July 2018 (1 month)
                    </div>
                    <div class="title">
                        Internship
                    </div>
                    <div class="name">
                        Defne - Innovative Solutions
                    </div>
                    <div class="disc">
                    </div>
                </div>
            </div>
            <!-- //item -->
            <!-- item -->
            <div class="element">
                <div class="logo">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <div class="contents">
                    <div class="time">
                        Sept. 2015 - Sept. 2020
                    </div>
                    <div class="title">
                        Bachelor of Computer Science 
                    </div>
                    <div class="name">
                        Karabuk University
                    </div>
                    <div class="disc">
                        CGPA: 4.00 / 3.36
                    </div>
                </div>
            </div>
            <!-- //item -->
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->