<section class="projects section" id="project">
    <div class="section-inner">
        <h2 class="heading">Recent Projects</h2>
        <div class="content">
            <!-- item -->
            <div class="item">
                <div class="logo">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <div class="title"> Dash Cam Star - 
                    <i class="fa fa-android" aria-hidden="true"></i> 
                    <i class="fa fa-apple" aria-hidden="true"></i>
                </div>
                <p class="summary">
                    This application allows users to use their mobile device as a dash cam.
                    It is also to detect city objects while recording the video image of the road while driving by the user.
                </p>
                <div class="button-links">
                    <a class="youtube"
                    href="https://www.youtube.com/watch?v=L46uaFFpQ5I"
                    target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a>
                </div>
                <hr class="divider">
            </div>
            <!-- //item -->
            <!-- item -->
            <div class="item">
                <div class="logo">
                    <i class="fa fa-laptop" aria-hidden="false"></i>
                </div>
                <div class="title"> Video Referee Training Application -
                    <i class="fa fa-desktop" aria-hidden="true"></i> 
                </div>
                <p class="summary">
                    Detection of the referee in the field and instant distance to the ball and heat map analysis 
                    using image processing techniques.
                </p>
                <div class="button-links">             
                    <a class="github"
                        href="https://github.com/srcemre/VideoHakemEgitimiUygulamasi"
                        alt="Github - Video Referee Training Application"
                        target="_blank"><i class="fa fa-github-square"></i> GitHub</a>
                        <a class="youtube"
                            href="https://www.youtube.com/watch?v=ZnUz9f50pUc"
                            alt="YouTube - Video Referee Training Application"
                            target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a>
                </div>
                <hr class="divider">
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->


