<section class="about section" id="aboutme">
    <div class="section-inner">
        
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="content" style="text-align: center;">
                        <h2 class="heading">About Me</h2>
                        <img style="width: 15%; border-radius: 50%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="assets/images/logo/profile.webp"/>
                        <p>Hi stranger, welcome to my space ! </p>
                        <p>I am Emre, your new friend, and a mobile software developer, developing for Android and Ios platforms. </p>
                        <p>Your first mission: Space exploration.</p>
                        
                    </div>
                </div>
                <!-- <div class="col-md-8 col-sm-12 col-xs-12">
                    <h2 class="heading">Skills</h2>
                </div> -->
            </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->