<section class="about section" id="aboutme">
    <div class="section-inner">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="content">
                    <h2 class="heading">About Me</h2>
                    <P>Hello, over the past three years, I've worked as an Android mobile developer, contributing to
                        various projects involving the development of iOS applications using Swift & Objective-C, as
                        well as cross-platform applications using Flutter. During this period, I encountered challenges
                        such as creating user-friendly interfaces, writing efficient code, and ensuring consistency
                        across different platforms. By working with different technologies, I have acquired extensive
                        technical knowledge and achieved successful results in various projects.</P>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="content">
                    <h2 class="heading">Experience</h2>
                    <div class="timeline">
                        <!-- item -->
                        <div class="element">
                            <!--
                            <div class="logo">
                                <img src="{{ site.baseurl }}/assets/images/logo/content.png" />
                            </div>
                            -->
                            <div class="contents">
                                <div class="time">
                                    Sept. 2020 - Jun. 2024
                                </div>
                                <div class="title">
                                    Mobile Software Developer
                                </div>
                                <div class="name">
                                    Basarsoft Information Technologies Inc.
                                </div>
                                <div class="disc">
                                    Developed cross-platform mobile applications using Android (Java), Flutter, iOS
                                    (Swift & Objective-C) for various projects
                                </div>
                                <div class="tags">
                                    <span class="tag">#Android</span>
                                    <span class="tag">#IOS</span>
                                    <span class="tag">#Swift</span>
                                    <span class="tag">#Objective C</span>
                                    <span class="tag">#Kotlin</span>
                                    <span class="tag">#Java</span>
                                    <span class="tag">#Flutter</span>
                                </div>
                            </div>
                        </div>
                        <!-- //item -->
                        <!-- item -->
                        <div class="element">
                            <!--
                            <div class="logo">
                                <img src="{{ site.baseurl }}/assets/images/logo/content.png" />
                            </div>
                            -->
                            <div class="contents">
                                <div class="time">
                                    Sept. 2015 - Sept. 2020
                                </div>
                                <div class="title">
                                    Bachelor of Computer Science
                                </div>
                                <div class="name">
                                    Karabuk University
                                </div>
                                <div class="disc">
                                    CGPA: 4.00 / 3.36
                                </div>
                            </div>
                        </div>
                        <!-- //item -->
                    </div>
                    <!--//content-->
                </div>
            </div>
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->