<section class="marquee-banner">
    <a href="/newsletter" class="marquee-wrap w-inline-block">
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item"> </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-text-item">Available for Freelance</div>
            <div class="marquee-img-item">
            </div>
        </div>
    </a>
</section>