<section class="projects section" id="project">
    <div class="section-inner">
        <h2 class="heading">Recent Projects</h2>
        <div class="content">

            {% assign sorted_projects = site.projects | sort: 'number' | reverse %}
            {% for project in sorted_projects limit:5 %}
            <!-- item -->
            <div class="item">
                <div class="title"> {{ project.title }}
                    {% for tags in project.tags %}
                    {% for tag in tags %}
                    {% if tag == 'android' %}
                    <i class="fa fa-android" aria-hidden="true"></i>
                    {% endif %}
                    {% if tag == 'ios' %}
                    <i class="fa fa-apple" aria-hidden="true"></i>
                    {% endif %}
                    {% if tag == 'desktop' %}
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}


                </div>
                <p class="summary">
                    {{ project.description }}
                </p>
                <div class="button-links">
                    {% if project.web %}
                    {% endif %}
                    {% if project.github %}
                    <a class="github" href="{{ project.github }}" alt="Github - {{ project.github }}" target="_blank"><i
                            class="fa fa-github-square"></i> GitHub</a>
                    {% endif %}
                    {% if project.youtube %}

                    <a class="youtube" href="{{ project.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i>
                        YouTube</a>
                    {% endif %}
                </div>
            </div>
            <!-- //item -->
            {% endfor %}
        </div>
        <!--//content-->
    </div>
    <!--//section-inner-->
</section>
<!--//section-->