<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ "/assets/css/yenitasarım.css" | relative_url }}">
  </head>
    <body>

<div class="bgimg">
  <div class="middle">
      <img class="avatar" src="/assets/img/avatar.jpg">
    <h1>{{ site.author | escape }}</h1>
    <p>Excelsior!</p>
    <hr>
    <p id="demo" style="font-size:30px">
    <a class="afirst" href="{{ "/home" | relative_url }}" >BLOG</a>
    <a class="afirst" href="{{ "/about" | relative_url }}" >HAKKIMDA</a>
    <a class="afirst" href="https://www.twitter.com\srcemre_">TWITTER</a>
    <a class="afirst" href="https://github.com/srcemre">GİTHUB</a>
    </p>
  </div>
</div>

</body>
</html>
