---
layout: default
---
{%- include header.html -%}
{%- include marqueeBlog.html -%}
<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-sm-12">
            {%- include sectionBlog.html -%}
        </div>
    </div>
    <!--//row-->
</div>
<!--//masonry-->

{%- include marqueeProject.html -%}
<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-sm-12">
            {%- include sectionProjects.html -%}
        </div>
    </div>
    <!--//row-->
</div>
<!--//masonry-->
{%- include footer.html -%} 